<footer>
    <div class="container" id="contact">
        <div class="row-fluid">
            <div class="col-md-4">
                <h3 class="caption footer-block">DERNIERES <span class="bold">ACTUS</span></h3>
                <ul class="latest-post">
                    <li class="standart-post">
                        <h4 class="title-post-footer">
                            <a href="#">Projet Ref N°2018/CEET/TG</a></h4>
                        <h4 class="date-post-footer">06 Janvier, 2018</h4>
                    </li>
                    <li class="standart-post">
                        <h4 class="title-post-footer">
                            <a href="#">Campagne Ref N°2017/CEET/TG</a></h4>
                        <h4 class="date-post-footer">06 Janvier, 2017</h4>
                    </li>
                    <li class="standart-post">
                        <h4 class="title-post-footer">
                            <a href="#">Marché N°2016/CEET/TG</a></h4>
                        <h4 class="date-post-footer">06 Janvier, 2016</h4>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3 class="caption footer-block">CONTACT <span class="bold">INFO</span></h3>
                <ul class="footer-contact-info">
                    <li class="footer-loc">426, Avenue Mama Fousséni<br />Lomé - TOGO</li>
                    <li class="footer-phone">TEL : (228) 22 21 27 43 / 44 <br/> FAX : 22 21 64 98 </li>
                    <li class="footer-mail"><a href="#">info-line@ceet.com</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <img src="@{'/public/images/logos/ceet.png'}" alt="logo" style="margin-left: 40%; margin-top: 50px;">
                <ul class="social-links clearfix" style="margin-left: 30%; margin-top: 10px;">
                    <li><a class="facebook-link" target="_blank" title="Facebook" href="#"></a></li>
                    <li><a class="twitter-link" target="_blank" title="Twitter" href="#"></a></li>
                    <li><a class="googleplus-link" target="_blank" title="googleplus" href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>

    <script>
       
    </script>
</footer>