#{extends 'main.html' /}
#{set title:'Accueil' /}

<div id="wide-bar" class="clearfix">
    <div id="wide-bar-fill"></div>
    <div class="container">
        <h2 id="wide-bar-brand" >Activation de compte</h2>	
    </div>
</div>


<div class="container clearfix">
    <h3 class="bg-gray-title"><span class="hightlight"> Activer  votre inscription</span>  <span class="hightlight"> </span> ! </h3>
    <div class="row-fluid">
        <fieldset>
            <legend>Confirmation</legend>
            #{if result == 'oK'}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Activation avec succès</h4>
                <br/>
                <p>Votre compte a été activé avec succès.</p>
                <a href="#" id="createAccount" class="btn btn-primary">Créer votre compte afribills</a>
            </div>
            #{/if}

            #{if result == 'Error'}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Erreur survenue!!!!</h4>
                <br/>
                <p>Imopossible d'activer votre compte car le lien d'activation est incorrect ou expiré</p>
            </div>
            #{/if}

            #{if result == 'NoActivation'}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Erreur survenue!!!!</h4>
                <br/>
                <p>Imopossible d'activer votre compte car le lien d'activation est incorrect ou expiré</p>
            </div>
            #{/if}

            #{if result == 'Invalid'}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Erreur survenue!!!!</h4>
                <br/>
                <p>Imopossible d'activer votre compte car le code d'activation est invalide</p>
            </div>
            #{/if}
        </fieldset>
    </div>
    #{if user_ !=null}
    <div id="modalAccount" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close yellow" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>CREATION DE COMPTE AFRIBILLS</h3>
        </div>
        <div class="modal-body">
            #{include '/Registration/newAccountForm.html' /}	    
        </div>
    </div>
    #{/if}
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#createAccount').click(function (e) {
            e.preventDefault();
            $('#modalConnexion').modal('show');
        });
        $("#phoneNumber").keydown(function (event) {
            // Allow: backspace, delete, tab, escape, enter and .
            var controlKeys = [8, 9, 13, 35, 36, 37, 39];
            // IE doesn't support indexOf
            var isControlKey = controlKeys.join(",").match(new RegExp(event.which));
            // Some browsers just don't raise events for control keys. Easy.
            // e.g. Safari backspace.
            if (!event.which || // Control keys in most browsers. e.g. Firefox tab is 0
                    (49 <= event.which && event.which <= 57) || // Always 1 through 9
                    (48 == event.which && $(this).val()) || // No 0 first digit
                    isControlKey) { // Opera assigns values for control keys.
                return;
            } else {
                event.preventDefault();
            }
        });

        $('#createAccountAction').click(function (e) {
            e.preventDefault();
            data = {'phoneNumber': $('#phoneNumber').val()};
            $.ajax({
                type: "POST",
                url: '@{Registration.isValidPhoneNumber()}',
                data: data,
                success: success,
                dataType: 'JSON'
            });
        });
        function success(data) {
            if (data == true) {
                $('#newAccountForm').submit();
            } else {
                $('.alert-error').show();
            }
        }
    });
</script>
