#{set 'moreStyles'}
    #{stylesheet '../pwdwidget/pwdwidget.css' /}
#{/set}

#{set 'moreScripts'}
    #{script '../pwdwidget/pwdwidget.js' /}
    #{script '../pwdwidget/pwdwidget-custom.js' /}
#{/set}

<div class="row-fluid">
    <a href=""></a>
#{field 'user.firstname'}
    <div id="blc-firstname" class="control-group ${field.errorClass}  offset2 span10">
        <label class="control-label" for="${field.id}">&{field.name}:</label>

        <div class="controls">
            <input type="text" required="true" class="input-xlarge ${field.errorClass}" name="${field.name}"
                   id="${field.id}" value="${flash[field.name]}"/>
            <span class="error-msg">${field.error} </span>

            <p class="help-block">Supporting help text</p>
        </div>
    </div>
#{/}
#{field 'user.lastname'}
    <div id="blc-lastname" class="control-group ${field.errorClass}  offset2 span10">
        <label class="control-label" for="${field.id}">&{field.name}:</label>

        <div class="controls">
            <input type="text" required="true" class="input-xlarge ${field.errorClass} " name="${field.name}"
                   id="${field.id}" value="${flash[field.name]}"/>
            <span class="error-msg">${field.error}</span>

            <p class="help-block">Supporting help text</p>
        </div>
    </div>
#{/}
#{field 'user.email'}
    <div class="control-group ${field.errorClass}  offset2 span10">
        <label class="control-label" for="${field.id}">&{field.name}:</label>

        <div class="controls">
            <input type="text" class="input-xlarge ${field.errorClass}"
                   name="${field.name}" id="${field.id}" value="${flash[field.name]}"/>
            <span class="error-msg">${field.error}</span>

            <p class="help-block">Supporting help text</p>
        </div>
    </div>
#{/}
#{field 'user.username'}
    <div class="control-group ${field.errorClass}  offset2 span10">
        <label class="control-label" for="${field.id}">&{field.name}:</label>

        <div class="controls">
            <input type="text" required="true" class="input-xlarge ${field.errorClass} "
                   name="${field.name}" id="${field.id}" value="${flash[field.name]}"/>
            <span class="error-msg">${field.error} </span>

            <p class="help-block">Supporting help text</p>
        </div>
    </div>
#{/}
#{field 'user.password'}
    <div class="control-group ${field.errorClass}  offset2 span10">
        <label class="control-label" for="${field.id}">&{field.name}:</label>

        <div class="controls">
            <div id='thepwddiv' class='pwdwidgetdiv input-xlarge'></div>
            <span class="error-msg">${field.error}</span>
            <script type="text/javascript">
                var pwdwidget = new PasswordWidget('thepwddiv', 'regpwd');
                pwdwidget.MakePWDWidget = _MakePWDWidgetCustom;
                pwdwidget.MakePWDWidget('${field.name}', '${field.id}',
                        '${field.errorClass}', '${field.error}');
            </script>
            <noscript>
                <div><input type='password' required="true" id='regpwd' name='regpwd'/></div>
            </noscript>
        *{<input type="password" class="input-xlarge ${field.errorClass}"
		          name="${field.name}" id="${field.id}"/>
		          <span class="error-msg">${field.error}</span>}*
            <p class="help-block">Supporting help text</p>
        </div>
    </div>
#{/}
#{field 'passwordCheck'}
    <div class="control-group ${field.errorClass}  offset2 span10">
        <label class="control-label" for="${field.id}">&{field.name}:</label>

        <div class="controls">
            <input type="password" required="true" class="input-xlarge ${field.errorClass}"
                   name="${field.name}" id="${field.id}"/>
            <span class="error-msg">${field.error}</span>

            <p class="help-block">Supporting help text</p>
        </div>
    </div>
#{/}
</div>